body {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('../imagenes/editarLote.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}



/* Estilo del título */
h2{
color:white;
font-weight:600;
}

/* Contenedor del formulario */
.form-container{
max-width:750px;
margin:auto;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}
/* Inputs del formulario */
.form-control{
border-radius:8px;
padding:10px;
}
/* Botones */
.btn{
border-radius:8px;
min-width:120px;
}